

.grid img{
    border: 2px solid black;
    border-radius: 50px;
}
.grid{ display: flex; 
    flex-wrap: wrap;
     font-family: sans-serif; }

.origami{
    background-color: #ffcda3;
    border-radius: 20px;
    width:310px;
    font-family: fantasy;
    
}

.menu{
    display:flex;
    justify-content: space-between;
    font-size: 19px;
    font-family:sans-serif;
    font-weight: 900;
    background-color: #36c7b4;
    color: black;
  
}

body{
    background-color: #a1e0cb;
}
p,h2{
    text-align: center;
}
.bodying,p{
    text-decoration-line: underline;
}